// // Variables
//
// $white: #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black: blue !default;
//
// $primary: #64a19d !default;

// Variables

$white: #fff !default;
$gray-100: #D5E1E9 !default;
$gray-200: #CADAE3 !default;
$gray-300: #BDD1DC !default;
$gray-400: #ACC5D3 !default;
$gray-500: #97B6C8 !default;
$gray-600: #7DA4BA !default;
$gray-700: #5C8DA9 !default;
$gray-800: #337193 !default;
$gray-900: #161616 !default;
$black: #161616 !default;

$primary: #64a19d !default;
